<div class="wrapper">
    <nav>
      <div></div>
      <ul>
        <li [ngClass]="{active: nameOfClick==='home'}" ><a (click)="getID($event)" id="home" routerLink="/home">Home</a></li>
        <li [ngClass]="{active: nameOfClick==='profile'}" ><a (click)="getID($event)" id="profile" routerLink="/profile">Profile</a></li>
        <li [ngClass]="{active: nameOfClick==='create'}"><a (click)="getID($event)" id="create" routerLink="/create">Create</a></li>
        <li [ngClass]="{active: nameOfClick==='logout'}" (click)="onLogout()"  (click)="getID($event)" id="logout">Logout</li>
      </ul>
    </nav>
  </div>
