/* body {
    width: 100%;
    height: 100%;
    background: #fd746c;
    background: linear-gradient(to left, #fd746c , #ff9068);      
  } */
  
   .wrapper {
    position: relative;
    width: 640px;
    display: block;
    margin: 50px auto;
    background: #fd746c;
    background-color: linear-gradient(to left, #fd746c , #ff9068); 
  }
  
  nav {
    width: 100%;
    display: block;

  }
  
  nav ul li {
    display: inline-block;
    list-style: none;
    width: 160px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    border: 1px dashed rgba(255,255,255, 0);
    /* color: #fff; */
    color: black;
    padding: 10px 0 10px 0;
    margin: -1px -5px -1px -1px;
    cursor: pointer;
    transition: all .2s;
  }
  
  nav ul li:hover {
    background: rgba(255,255,255,.1);
    background-color: #FF5D14;
    color: white;

    /* border: 1px solid white; */

  }
  
  nav ul {
    /* border: 1px solid #fff; */
    border: 1px solid black;
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 100;
  }
  
  nav div {
    position: absolute;
    left: 0;
    top: 16px;
    background: #fff;
    /* background: green; */
    width: 162px;
    height: 40px;
    z-index:99;
  }
  
  .active {
    /* color: white; */

    background-color: #FF4F00;
    /* color: blue; */
    border: 1px solid black;

  } 