form {
    width: 80%;
    margin: 20px auto;
}

.card {
    width: 60%;
    margin: auto;
    margin-bottom: 80px;
    box-shadow: 10px 10px 5px grey;
}

h1 {
    text-align: center;
}

h6 {
    text-align: center;
}

.form-group {
    padding: 5px;
}

#eventImage {
    display: block;
}

#eventButton {
    margin: auto;
    width: 20%
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

img {
    height: auto; 
    width: 300px;
    float: right;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }