.profile {
    margin: 400px auto;
    width: 80%;
}

.container {
    width: 80%;
}

.row {
    margin-top: 20px;
}
.event-button {
    margin: 15px 0px 10px 50px;
    width: 150px;
    float: right;
    position: block;

}

.btn-primary {
    background-color: rgb(84, 230, 128) !important;
    border-color: rgb(84, 230, 128) !important;
    color: black;
}

#profileButtons {
    margin: 0px 0px 0px 0px;
}


body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

.lib-panel {
    margin-bottom: 0px;
}

/* profile picture */
.lib-panel img {
    width: 210px;
    height: 210px;
    border-radius: 100px;
    background-color: transparent;
    margin: 20px 20px 20px 40px;
    position: center;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 30%;
    display: block;
    font-size: 20px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
