<!-- created a container to hold all event cards-->
<div id="cardContainer">
    <div class="row">
  
      <!-- col-sm3 specifies 3 columns in the container -->
      <div class="card col-sm3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Event #1</h5>
          <p class="card-text">This is the description for the event.</p>
          <a href="#" class="btn btn-primary">Register</a>
        </div>
      </div>

    </div>
</div>